<a href="https://colab.research.google.com/github/hpnightowl/owlsbooks/blob/master/ed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [315]:
import pandas as pd

ed  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/eng_grad_emp_salary/training_set_label.csv" )

In [316]:
ed.head()

       ID Gender         DOB  ...  nueroticism openess_to_experience  Salary
0  604399      f  1990-10-22  ...         0.15                  0.29  445000
1  988334      m  1990-05-15  ...         0.53                 -0.29  110000
2  301647      m  1989-08-21  ...        -0.29                 -0.29  255000
3  582313      m  1991-05-04  ...         0.27                  0.48  420000
4  339001      f  1990-10-30  ...         0.06                  0.19  200000

[5 rows x 34 columns]

In [317]:
ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     2998 non-null   int64
 1   Gender                 2998 non-null   object
 2   DOB                    2998 non-null   object
 3   10percentage           2998 non-null   float64
 4   10board                2998 non-null   object
 5   12graduation           2998 non-null   int64
 6   12percentage           2998 non-null   float64
 7   12board                2998 non-null   object
 8   CollegeID              2998 non-null   int64
 9   CollegeTier            2998 non-null   int64
 10  Degree                 2998 non-null   object
 11  Specialization         2998 non-null   object
 12  collegeGPA             2998 non-null   float64
 13  CollegeCityID          2998 non-null   int64
 14  CollegeCityTier        2998 non-null   int64
 15  CollegeState           2998 non-null   object
 16  GraduationYear         2998 non-null   int64
 17  English                2998 non-null   int64
 18  Logical                2998 non-null   int64
 19  Quant                  2998 non-null   int64
 20  Domain                 2998 non-null   float64
 21  ComputerProgramming    2998 non-null   int64
 22  ElectronicsAndSemicon  2998 non-null   int64
 23  ComputerScience        2998 non-null   int64
 24  MechanicalEngg         2998 non-null   int64
 25  ElectricalEngg         2998 non-null   int64
 26  TelecomEngg            2998 non-null   int64
 27  CivilEngg              2998 non-null   int64
 28  conscientiousness      2998 non-null   float64
 29  agreeableness          2998 non-null   float64
 30  extraversion           2998 non-null   float64
 31  nueroticism            2998 non-null   float64
 32  openess_to_experience  2998 non-null   float64
 33  Salary                 2998 non-null   int64
dtypes: float64(9), int64(18), object(7)
memory usage: 796.5+ KB

In [318]:
ed.columns

Index(['ID', 'Gender', 'DOB', '10percentage', '10board', '12graduation',
       '12percentage', '12board', 'CollegeID', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'CollegeState', 'GraduationYear', 'English', 'Logical', 'Quant',
       'Domain', 'ComputerProgramming', 'ElectronicsAndSemicon',
       'ComputerScience', 'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg',
       'CivilEngg', 'conscientiousness', 'agreeableness', 'extraversion',
       'nueroticism', 'openess_to_experience', 'Salary'],
      dtype='object')

In [319]:
ed.isnull().sum()

ID                       0
Gender                   0
DOB                      0
10percentage             0
10board                  0
12graduation             0
12percentage             0
12board                  0
CollegeID                0
CollegeTier              0
Degree                   0
Specialization           0
collegeGPA               0
CollegeCityID            0
CollegeCityTier          0
CollegeState             0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
Salary                   0
dtype: int64

In [320]:
print(ed['10board'].unique(),end='\n\n')
print(ed['12board'].unique(),end='\n\n')
print(ed['Degree'].unique(),end='\n\n')
print(ed['Specialization'].unique(),end='\n\n')
print(ed['CollegeState'].unique(),end='\n\n')

['cbse' 'maharashtra state board,pune' 'icse' 'state board' 'delhi board'
 '0' 'hse' 'board of school education harayana' 'rbse' 'u p board'
 'bse, odisha' 'rajasthan board of secondary education' 'up board'
 'council for indian school certificate examination' 'kea' 'uttar pradesh'
 'board of secondary education,andhara pradesh' 'wbbse'
 'matriculation board' 'board of secondary education - andhra pradesh'
 'mp' 'up' 'karnataka' 'ssc' 'kseeb' 'bse' 'gseb' 'uttar pradesh board'
 'matriculation' 'karnataka secondary education board' 'maharastra board'
 'tn state board' 'board of secondary education' 'sslc'
 'board secondary  education' 'karnataka secondary school of examination'
 'metric' 'maharashtra state board' 'maharashtra sate board' 'matric'
 'hbse' 'state' 'state boardmp board '
 'karnataka board of higher education' 'hsce' 'nagpur divisional board'
 'bihar board' 'jkbose' 'secondary state certificate'
 'secondary school of education' 'kseb' 'mpboard' 'cbse board' 'up bourd'
 'j&k state board of school education'
 'board of secondary education,andhra pradesh' 'kerala state board' 'hsc'
 'rajasthan board' 'pune' 'karnataka state board' 'upboard'
 'gujarat state board'
 'state board - west bengal board of secondary education : wbbse'
 'karnataka secondary education examination board' 'bseb' 'cgbse'
 'uttarakhand board'
 'sri kannika parameswari highier secondary school, udumalpet'
 'maharashtra satate board' 'kerala state technical education'
 'karnataka education board (keeb)' 'ssc regular'
 'board of secondary education, andhra pradesh'
 'state board (jac, ranchi)' 'gyan bharati school' 'anglo indian'
 'west bengal board of secondary education'
 'central board of secondary education' 'up baord' 'pseb'
 'maharashtra state board of secondary and higher secondary education,pune'
 'karnataka state secondary education board'
 'karnataka secondary education' 'madhya pradesh board'
 'board of ssc education andhra pradesh' 'stateboard'
 'board of secondary education, rajasthan' 'ksseb' 'cbsc'
 'bharathi matriculation school' 'uttrakhand board' 'nagpur'
 'board of secondary education (bse) orissa' 'bseb, patna' 'mpbse'
 'kalaimagal matriculation higher secondary school'
 'tamilnadu matriculation board' 'karnataka board' 'delhi public school'
 'secondary board of rajasthan' 'jseb' 'up(allahabad)' 'bse,orissa'
 'rbse (state board)' 'ssc maharashtra board' 'up board,allahabad'
 'mp board' 'board of secendary education orissa'
 'bihar school examination board' 'apssc' 'up board , allahabad'
 'mirza ahmed ali baig' 'maharashtra board' 'aurangabad board'
 'jharkhand secondary board' 'kiran english medium high school'
 'state board of secondary education, andhra pradesh'
 'maharashtra state board for ssc' 'sarada high scchool' 'pune board'
 'uttaranchal state board' 'uttranchal board' 'ap state board'
 'stjosephs girls higher sec school,dindigul' 'nagpur board' 'aisse'
 'mp board bhopal'
 'maharashtra state board of secondary and higher secondary education'
 'west bengal  board of secondary education' 'hbsc' 'state bord'
 'central board of secondary education, new delhi'
 'kseeb(karnataka secondary education examination board)' 'wbbsce'
 'school secondary education, andhra pradesh' 'nashik board'
 'secondary school certificate' 'state board ' 'ssc board of andrapradesh'
 'jbse,jharkhand' 'ksbe' 'jharkhand acedemic council'
 'jharkhand secondary examination board (ranchi)'
 'board ofsecondary education,ap' 'matric board' 'national public school'
 'mhsbse' 'hse,orissa' 'karnataka sslc board bangalore' 'icse board'
 'jawahar navodaya vidyalaya' 'dav public school,hehal'
 'maharashtra board, pune' 'secondary school education'
 'board of secondary education,ap' 'stmary higher secondary' 'latur board'
 'bse,odisha' 'gujarat board' 'bseb,patna' 'up board allahabad'
 'maharashtra state(latur board)' 'andhra pradesh state board'
 'maharashtra' 'education board of kerala' 'apsche'
 'ksseb(karnataka state board)' 'punjab school education board, mohali'
 'bihar school examination board patna'
 'ap state board for secondary education' 'cbse ' 'sslc,karnataka'
 'karnataka secondory education board'
 'board of secondary education orissa' 'bseb patna'
 'board of secondary education(bse) orissa' 'maticulation' 'j & k bord'
 'msbshse,pune' 'bihar secondary education board,patna' 'hse,board'
 'karnataka board of secondary education' 'tamilnadu state board'
 'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district'
 'karnataka secondary eduction'
 'board of high school and intermediate education uttarpradesh'
 'andhra pradesh board ssc' 'upbhsie' 'state borad hp'
 'little jacky matric higher secondary school'
 'board of  secondary education' 'ghseb' 'kolhapur' 'biharboard'
 'certificate of middle years program of ib'
 'secondary education board of rajasthan' 'icse board , new delhi'
 'sss pune' 'maharashtra nasik board' 'ua' 'ssc-andhra pradesh'
 'sslc board' 'uttaranchal shiksha avam pariksha parishad' 'bsepatna'
 'himachal pradesh board' 'rajasthan board ajmer'
 'state board of secondary education, ap'
 'jharkhand secondary education board' 'haryana board of school education'
 'gsheb' 'bright way college, (up board)' 'u p'
 'secondary school cerfificate' 'up bord'
 'karnataka state education examination board'
 'himachal pradesh board of school education' 'jharkhand academic council'
 'board of secondary school education' 'bsemp' 'karnataka education board']

['cbse' 'amravati divisional board' 'state board' 'all india board' '0'
 'chse' 'state board of technical education harayana' 'u p board'
 'rajasthan board of secondary education' 'up board'
 'council for indian school certificate examination' 'kea'
 'board of intermediate education,hyderabad' 'wbchse'
 'hisher seconadry examination(state board)'
 'board fo intermediate education, ap' 'up' 'karnataka state'
 'intermediate board' 'directorate of technical education,banglore'
 'board of intermediate education' 'hsc' 'icse' 'board of intermediate'
 'gsheb' 'uttar pradesh board' 'rbse' 'pre-university board'
 'maharashtra board' 'isc' 'tn state board' 'puc'
 'baord of intermediate education' 'karnataka pre university board'
 'bieap' 'state' 'maharashtra state board' 'intermediate'
 'p u board, karnataka' 'hbse' 'board of intermediate ap' 'andhra board'
 'pu' 'uttar pradesh' 'pre university board of karnataka' 'ssc'
 'madhya pradesh open school' 'nagpur divisional board' 'bihar board'
 'jkbose' 'matriculation' 'pu board' 'ipe'
 'higher secondary state certificate' 'jaswant modern school' 'mp board'
 'up bourd' 'department of technical education'
 'j&k state board of school education' 'kerala state board' 'ap board'
 'rajasthan board' 'msbte' 'pre university board, karnataka' 'bseb'
 'upboard' 'wbbhse'
 'state board - west bengal council of higher secondary education : wbchse'
 'department of pre-university education' 'pu board ,karnataka' 'cgbse'
 'uttarakhand board' 'sbtet' 'hse'
 'sri kannika parameswari highier secondary school, udumalpet'
 'maharashtra satate board' 'kerala state hse board' 'pu board karnataka'
 'board of intermediate education, andhra pradesh'
 'karnataka pre-university board' 'state board (jac, ranchi)'
 'karnataka state board' 'dav public school' 'uo board' 'karnataka board'
 'west bengal council of higher secondary education' 'puboard'
 'central board of secondary education' 'bie' 'up baord' 'pseb'
 'board of higher secondary examination, kerala' 'sbte, jharkhand'
 'department of technical education, bangalore'
 'west bengal state council of technical education' 'madhya pradesh board'
 'board of secondary school of education'
 'board of intmediate education ap' 'bteup' 'pub' 'diploma in computers'
 'stateboard' 'board of secondary education, rajasthan'
 'pre university board' 'cbsc' 'jaycee matriculation school' 'mp'
 'uttrakhand board' 'nagpur'
 'certificate for higher secondary education (chse)orissa'
 'karnataka pu board' 's j polytechnic' 'bseb, patna' 'mpbse'
 'ks rangasamy institute of technology'
 'bihar intermediate education council' 'tamilnadu stateboard'
 'board of intermediate education,andhra pradesh' 'diploma(msbte)'
 'tamilnadu higher secondary education board' 'board of intermidiate'
 'department of pre-university education(government of karnataka)'
 'karnataka board secondary education' 'secondary board of rajasthan'
 'intermediate board examination'
 'govt of karnataka department of pre-university education' 'intermedite'
 'up(allahabad)' 'chse,orissa' 'mpc' 'rbse (state board)'
 'hsc maharashtra board' 'bte up' 'state syllabus' 'up board,allahabad'
 'scte vt orissa' 'apbie' 'intermideate' 'up board , allahabad'
 'board of technical education' 'state board - tamilnadu'
 'aurangabad board' 'jharkhand academic council'
 'sri chaitanya junior kalasala'
 'state  board of intermediate education, andhra pradesh'
 'maharashtra state board for hsc' 'pune board' 'uttaranchal state board'
 'uttranchal board' 'ap intermediate board'
 'srv girls higher sec school,rasipuram' 'nagpur board' 'dte' 'aissce'
 'ibe' 'diploma ( maharashtra state board of technical education)'
 'west bengal board of higher secondary education' 'hbsc' 'state bord'
 'gseb' 'biec, patna'
 'diploma in engg (e &tc) tilak maharashtra vidayapeeth' 'psbte'
 'central board of secondary education, new delhi' 'pre university'
 'nashik board' 'board of intermediate education,ap'
 'karnataka state pre- university board' 'state board '
 'board of intermediate education,andra pradesh' 'jstb,jharkhand'
 'jharkhand acedemic council' 'board of school education harayana'
 'department of pre university education'
 'intermediate board of education,andhra pradesh' 'nios'
 'karnataka pre-university' 'tamil nadu polytechnic'
 'intermediate board of education'
 'andhra pradesh board of secondary education'
 'department of pre-university education, bangalore'
 'jharkhand acamedic council (ranchi)'
 'board of intermediate education, ap' 'jawahar higher secondary school'
 'scte and vt ,orissa' 'karnataka secondary education board'
 'mp board bhopal' 'isc board' 'biec'
 'intermediate board of andhra pardesh' 'science college'
 'dav public school,hehal' 'board of technicaleducation ,delhi'
 'maharashtra board, pune' 'board of intermediate education:ap,hyderabad'
 'aligarh muslim university' 'latur board' 'chse,odisha' 'gujarat board'
 'bciec,patna' 'biec,patna' 'staae board' 'up board allahabad'
 'cbse board' 'maharashtra state(latur board)'
 'karnataka pre unversity board' 'andhra pradesh state board'
 'maharashtra'
 'punjab state board of technical education & industrial training, chandigarh'
 'bihar school examination board patna'
 'ap board for intermediate education' 'scte&vt'
 'board of intermediate,ap'
 'punjab state board of technical education & industrial training'
 'andhra pradesh' 'pre-university' 'bice'
 'board of higher secondary orissa' 'biec patna'
 'electonincs and communication(dote)' 'j & k board' 'msbshse,pune'
 'intermediate council patna' 'scte & vt (diploma)'
 'karnataka secondary education' 'karnataka board of university'
 'chse, odisha' 'tamilnadu state board' 'karnataka pu'
 'intermediate state board'
 'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district' 'wbscte'
 'board of high school and intermediate education uttarpradesh'
 'andhpradesh board of intermediate education'
 'msbte (diploma in computer technology)' 'upbhsie' 'apbsc'
 'sda matric higher secondary school' 'stateboard/tamil nadu'
 'board of intermidiate education,ap' 'ghseb' 'kolhapur'
 'international baccalaureate (ib) diploma'
 'state board of technical eduction panchkula'
 'board of intermediate(bie)'
 'state board of technical education and training'
 'secnior secondary education board of rajasthan' 'karnataka sslc'
 'isc board , new delhi' 'hsc pune' 'gshseb' 'maharashtra nasik board'
 'ua' 'karnatak pu board' 'state broad' 'dote (diploma - computer engg)'
 'pue' 'uttaranchal shiksha avam pariksha parishad' 'biec-patna'
 'himachal pradesh board' 'apsb' 'rajasthan board ajmer'
 'technical board, punchkula' ' board of intermediate' 'mbose'
 'bright way college, (up board)' 'sjrcw' 'u p' 'mpboard' 'up bord'
 'intermidiate' 'dept of pre-university education'
 'himachal pradesh board of school education' 'dpue'
 'board of intermeadiate education' 'bsemp' 'karnataka education board']

['B.Tech/B.E.' 'M.Tech./M.E.' 'MCA' 'M.Sc. (Tech.)']

['instrumentation and control engineering'
 'computer science & engineering' 'electronics & telecommunications'
 'biotechnology' 'mechanical engineering' 'information technology'
 'electronics and communication engineering' 'computer engineering'
 'computer application' 'computer science and technology'
 'electrical engineering' 'automobile/automotive engineering'
 'electronics and electrical engineering'
 'information science engineering' 'chemical engineering'
 'instrumentation engineering' 'electronics & instrumentation eng'
 'ceramic engineering' 'metallurgical engineering'
 'aeronautical engineering' 'electronics engineering'
 'electronics and instrumentation engineering'
 'applied electronics and instrumentation' 'civil engineering'
 'computer and communication engineering'
 'industrial & production engineering' 'computer networking' 'other'
 'electronics and computer engineering'
 'control and instrumentation engineering'
 'mechanical & production engineering' 'mechanical and automation'
 'industrial & management engineering' 'biomedical engineering'
 'electrical and power engineering' 'telecommunication engineering'
 'industrial engineering' 'mechatronics' 'embedded systems technology'
 'electronics' 'information & communication technology'
 'information science']

['Delhi' 'Uttar Pradesh' 'Maharashtra' 'Tamil Nadu' 'Punjab' 'West Bengal'
 'Telangana' 'Andhra Pradesh' 'Haryana' 'Karnataka' 'Orissa'
 'Chhattisgarh' 'Rajasthan' 'Madhya Pradesh' 'Uttarakhand' 'Gujarat'
 'Jharkhand' 'Himachal Pradesh' 'Bihar' 'Union Territory'
 'Jammu and Kashmir' 'Kerala' 'Assam' 'Sikkim' 'Meghalaya' 'Goa']

In [321]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
ed['10board'] = le.fit_transform(ed['10board'])
ed['12board'] = le.fit_transform(ed['12board'])
ed['Specialization'] = le.fit_transform(ed['Specialization'])
ed['CollegeState'] = le.fit_transform(ed['CollegeState'])
ed = pd.get_dummies(ed, columns=['Degree'])
ed = pd.get_dummies(ed, columns=['Gender'])
ed.DOB = pd.to_datetime(ed.DOB)
ed['day'] = ed['DOB'].dt.day
ed['month'] = ed['DOB'].dt.month
ed['year'] = ed['DOB'].dt.year

ed.head()

       ID        DOB  10percentage  10board  ...  Gender_m  day  month  year
0  604399 1990-10-22         87.80       46  ...         0   22     10  1990
1  988334 1990-05-15         57.00       46  ...         1   15      5  1990
2  301647 1989-08-21         77.33      129  ...         1   21      8  1989
3  582313 1991-05-04         84.30       46  ...         1    4      5  1991
4  339001 1990-10-30         82.00       46  ...         0   30     10  1990

[5 rows x 41 columns]

In [322]:
X = ed.drop(columns=['Salary','DOB'],axis=1)
y =ed[['Salary']]

In [323]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.5,random_state =123)

In [324]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [325]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
#rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
#rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model

#rf_random.fit(X_train, y_train)

In [326]:
#rf_random.best_params_

In [327]:
model = RandomForestRegressor(bootstrap=True,max_depth=80,max_features='sqrt',min_samples_leaf=4,min_samples_split=2,n_estimators=1600)
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=80, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1600, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [328]:
y_pred = model.predict(X_test)

In [329]:
from sklearn.linear_model import OrthogonalMatchingPursuitCV

model_1 = OrthogonalMatchingPursuitCV(cv=5)

model_1.fit(X_train,y_train)

OrthogonalMatchingPursuitCV(copy=True, cv=5, fit_intercept=True, max_iter=None,
                            n_jobs=None, normalize=True, verbose=False)

In [330]:
y_pred_1 = model_1.predict(X_test)

In [331]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, y_pred))
rms_1 = sqrt(mean_squared_error(y_test, y_pred_1))

In [332]:
print("RMSE Score: ",rms)

RMSE Score:  164260.33068329026

In [333]:
edt = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/eng_grad_emp_salary/testing_set_label.csv')
edt

          ID Gender  ... nueroticism  openess_to_experience
0     239903      m  ...        2.06                  -0.29
1     948661      m  ...       -0.11                   0.67
2     390079      m  ...        0.65                   0.66
3     580714      f  ...        0.40                  -0.48
4     335896      m  ...        0.00                  -0.29
..       ...    ...  ...         ...                    ...
995   390017      f  ...        0.80                  -0.29
996   661427      m  ...       -0.11                  -2.39
997    65300      m  ...        0.41                  -0.29
998  1124919      f  ...       -1.88                   1.06
999  1061416      m  ...        0.53                   1.63

[1000 rows x 33 columns]

In [334]:
edt.isnull().sum()

ID                       0
Gender                   0
DOB                      0
10percentage             0
10board                  0
12graduation             0
12percentage             0
12board                  0
CollegeID                0
CollegeTier              0
Degree                   0
Specialization           0
collegeGPA               0
CollegeCityID            0
CollegeCityTier          0
CollegeState             0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
dtype: int64

In [335]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
edt['10board'] = le.fit_transform(edt['10board'])
edt['12board'] = le.fit_transform(edt['12board'])
edt['Specialization'] = le.fit_transform(edt['Specialization'])
edt['CollegeState'] = le.fit_transform(edt['CollegeState'])
edt = pd.get_dummies(edt, columns=['Degree'])
edt = pd.get_dummies(edt, columns=['Gender'])
edt.DOB = pd.to_datetime(edt.DOB)
edt['day'] = edt['DOB'].dt.day
edt['month'] = edt['DOB'].dt.month
edt['year'] = edt['DOB'].dt.year
edt = edt.drop(columns=['DOB'],axis=1)
edt.head()

       ID  10percentage  10board  12graduation  ...  Gender_m  day  month  year
0  239903         92.80        0          2007  ...         1   25      9  1989
1  948661         75.00       38          2010  ...         1    7      3  1991
2  390079         79.20       46          2008  ...         1   17      2  1991
3  580714         83.20       23          2009  ...         0   24      9  1991
4  335896         85.40        0          2008  ...         1   17      8  1991

[5 rows x 39 columns]

In [336]:
predictions = model.predict(edt)

In [337]:
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(predictions) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = edt.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results_HP.csv')         
files.download('prediction_results_HP.csv')